.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(231, 236, 236);
    /* position: sticky;
    top: 50px; */
    position: fixed;
    left: 0;
    top: 0;
  }

  .Logo{
    margin-bottom: 20px;
    width: 40px;
  }
  .sidebarWrapper {
    padding: 20px;
    color: #555;
  }
  .sidebarMenu {
    margin-bottom: 20px;
  }
  .sidebarTitle {
    font-size: 13px;
    color: gray;
  }
  .sidebarList {
    list-style: none;
    padding: 5px;
  }
  .sidebarListItem {
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
  }
  .sidebarListItem.active,
  .sidebarListItem:hover {
    background-color: rgb(199, 222, 222);
  }
  .sidebarIcon {
    margin-right: 5px;
    font-size: 20px;
  }
  